

.input--container {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.4);
}

.input--text{
    border: 0;
    box-shadow: 0px 0px 5px #005585;
    background-color: transparent;
    padding: 10px;
    border-radius: 7px 0 0 7px;
    color: #004b59;
    font-size: 20px;
}

::placeholder{
    color: #016274;
}

.input--button {
    padding: 20px;
    border: 0;
    border-radius: 0 7px 7px 0;
    background-image: url("assets/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color:#016274;
    box-shadow: 0px 0px 5px #005585;
}

.forecast--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 50px;
}

.forecast--name {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
}

.forecast--city {
    margin: 0;
    color: white;
}

.forecast--country {
    margin: 0;
    color: white;
    font-weight: lighter;
    font-style: italic;
}

.forecast--first{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.forecast--celsius{
    color: white;
    font-size: 100px;
    margin: 0;
    display: flex;
    margin-right: 10px;
}
.forecast--celsius span{

    font-size: 40px;
    margin-top: 20px;
}

.forecast--text {
    color: #016274;
    margin-top: 25px;
    font-size: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 100px;
}

.forecast--feels {
    color: white;
    font-weight: 400;
    margin-top: 0;
}

.forecast--daily{
    display: flex;
    max-width: 250px;
    overflow: scroll;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 20px;

}

.forecast--hours {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 700;
}

.hours--time {
    flex-flow: row;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;

}

.hours--temp_c{
    margin-top: 10px;
}